[submodule "DessertGameEngine/vendor/spdlog"]
	path = DessertGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DessertGameEngine/vendor/GLFW"]
	path = DessertGameEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "DessertGameEngine/vendor/imgui"]
	path = DessertGameEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
